@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CeraPro-Bold";
  src: url("../public/fonts/CeraPro-Bold.woff2") format("woff2"),
    url("../public/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro-Regular";
  src: url("../public/fonts/CeraPro-Regular.woff2") format("woff2"),
    url("../public/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.font-heading {
  @apply font-cera-pro-bold sm:text-lg text-xl tracking-base;
}

.font-body {
  @apply font-cera-pro-regular text-base;
}

.font-caption {
  @apply font-cera-pro-regular text-sm;
}

.font-button {
  @apply font-cera-pro-bold text-base;
}

.container {
  @apply w-341 xl:w-300 lg:w-256 md:w-192 sm:w-full px-8 sm:px-4;
}

.input {
  @apply border-b outline-none invalid:border-error-500 placeholder-neutrals-500 py-3.5 mb-6 w-full;
}
